{
  "openapi": "3.0.3",
  "info": {
    "title": "Hedge Pay Round-ups API",
    "version": "1.0.0",
    "description": "Transform spare change into investment opportunities with our white-label round-ups platform",
    "contact": {
      "name": "Hedge Pay API Support",
      "email": "support@hedgepay.com",
      "url": "https://hedgepay.com/support"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.hedgepay.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://api-sandbox.hedgepay.com/v1",
      "description": "Sandbox server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "JWT token management"
    },
    {
      "name": "Users",
      "description": "User management operations"
    },
    {
      "name": "Accounts",
      "description": "Bank account connections"
    },
    {
      "name": "Round-ups",
      "description": "Round-up settings and processing"
    },
    {
      "name": "Transfers",
      "description": "ACH transfer operations"
    },
    {
      "name": "Webhooks",
      "description": "Webhook subscriptions"
    }
  ],
  "paths": {
    "/auth/token": {
      "post": {
        "tags": ["Authentication"],
        "summary": "Generate access token",
        "description": "Exchange partner credentials for a JWT access token",
        "operationId": "generateToken",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthRequest"
              },
              "example": {
                "api_key": "pk_live_abc123",
                "api_secret": "sk_live_xyz789",
                "partner_id": "partner_123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully generated access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          }
        }
      }
    },
    "/users": {
      "post": {
        "tags": ["Users"],
        "summary": "Create user",
        "description": "Create a new user in the Hedge Pay system",
        "operationId": "createUser",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateUserRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          }
        }
      },
      "get": {
        "tags": ["Users"],
        "summary": "List users",
        "description": "Get a paginated list of users for your partner account",
        "operationId": "listUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of users",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserList"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/accounts/connect": {
      "post": {
        "tags": ["Accounts"],
        "summary": "Create link token",
        "description": "Generate a link token for connecting a bank account",
        "operationId": "createLinkToken",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Link token created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/users/{userId}/roundup-settings": {
      "get": {
        "tags": ["Round-ups"],
        "summary": "Get round-up settings",
        "description": "Retrieve current round-up settings for a user",
        "operationId": "getRoundupSettings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Round-up settings",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoundupSettings"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": ["Round-ups"],
        "summary": "Update round-up settings",
        "description": "Update round-up configuration for a user",
        "operationId": "updateRoundupSettings",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRoundupSettingsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoundupSettings"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "post": {
        "tags": ["Transfers"],
        "summary": "Initiate transfer",
        "description": "Create a new ACH transfer",
        "operationId": "initiateTransfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer initiated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transfer"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Register webhook",
        "description": "Register a new webhook endpoint",
        "operationId": "registerWebhook",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook registered",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "AuthRequest": {
        "type": "object",
        "required": ["api_key", "api_secret", "partner_id"],
        "properties": {
          "api_key": {
            "type": "string",
            "description": "Partner API key"
          },
          "api_secret": {
            "type": "string",
            "description": "Partner API secret"
          },
          "partner_id": {
            "type": "string",
            "description": "Partner identifier"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string",
            "description": "JWT access token"
          },
          "token_type": {
            "type": "string",
            "enum": ["Bearer"]
          },
          "expires_in": {
            "type": "integer",
            "description": "Token expiration time in seconds"
          },
          "partner_id": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateUserRequest": {
        "type": "object",
        "required": ["email", "first_name", "last_name"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "external_id": {
            "type": "string",
            "description": "Your internal user ID"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "last_name": {
            "type": "string"
          },
          "partner_id": {
            "type": "string"
          },
          "external_id": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserList": {
        "type": "object",
        "properties": {
          "users": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/User"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "LinkTokenResponse": {
        "type": "object",
        "properties": {
          "link_token": {
            "type": "string",
            "description": "Token for bank account linking"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RoundupSettings": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "multiplier": {
            "type": "integer",
            "enum": [1, 2, 3, 5]
          },
          "max_roundup_amount": {
            "type": "number",
            "format": "float"
          },
          "destination_account_id": {
            "type": "string"
          }
        }
      },
      "UpdateRoundupSettingsRequest": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "multiplier": {
            "type": "integer",
            "enum": [1, 2, 3, 5]
          },
          "max_roundup_amount": {
            "type": "number",
            "format": "float"
          }
        }
      },
      "CreateTransferRequest": {
        "type": "object",
        "required": ["user_id", "amount", "type"],
        "properties": {
          "user_id": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "type": {
            "type": "string",
            "enum": ["roundup", "manual"]
          },
          "description": {
            "type": "string"
          }
        }
      },
      "Transfer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "user_id": {
            "type": "string"
          },
          "amount": {
            "type": "number",
            "format": "float"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "processing", "completed", "failed"]
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RegisterWebhookRequest": {
        "type": "object",
        "required": ["url", "events"],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "secret": {
            "type": "string",
            "description": "Optional webhook secret for signature verification"
          }
        }
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "active": {
            "type": "boolean"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "limit": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "total_pages": {
            "type": "integer"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          },
          "request_id": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": {
                "code": "UNAUTHORIZED",
                "message": "Invalid API credentials"
              },
              "request_id": "req_123456789"
            }
          }
        }
      },
      "BadRequestError": {
        "description": "Invalid request",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    }
  }
}